body {
  background-color: bisque;
}

.title {
  background-color: blue;
  list-style: none;
  justify-content: center;
  display: flex;
  height: 90px;
}

.title li {
  display: inline-block;
  text-indent: 100px;
  margin-top: 2%;
  color: white;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
}
.img-picture {
  float: right;
  width: 20%;
  padding-top: 1%;
}

p {
  padding-top: 4%;
  margin-left: 40%;
}

.btn {
  border: 5px solid black;
  color: white;
  background-color: black;
  text-decoration: none;
}

.buto {
  margin-left: 47%;
  margin-top: 0%;
}

.web {
  font-size: large;
  color: blue;
  margin-left: 50%;
  margin-top: 15%;
}

/* footer */
footer {
  background-color: blue;
  margin-top: 17%;
}

/* responsive starts */

@media screen and (max-width: 500px) {
  .title li {
    display: flex;
    flex-direction: column;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    display: flex;
    flex-direction: column;
  }

  .buto {
    display: inline-block;
    align-items: center;
    margin-left: 44%;
  }
}
